
$scroll-bar-track: #eee;
$scroll-bar-background: #fff;

// Scroll
html {
    scrollbar-color: #999 #333;

    ::-webkit-scrollbar {
        width: 10px; /* Mostly for vertical scrollbars */
        height: 5px; /* Mostly for horizontal scrollbars */
    }

    ::-webkit-scrollbar-thumb { /* Foreground */
        background: $scroll-bar-track;
    }
    ::-webkit-scrollbar-track { /* Background */
        background: $scroll-bar-background;
    }
}

html, body {
    background: #fff;
    color: #666;
    font-size: 15px;
    line-height: 1.3;
    font-family: verdana;
    // -webkit-user-select: none;
    // -webkit-app-region: drag;
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #444 !important;
}

p {
  font-size: 15px;
  line-height: 1.4;
  color: #666;
}

.text-darken {
    color: #ccc;
}

.q-pl-md {
    padding-left: 40px;
}

table {
    .el-button+.el-button {
        margin-left: 3px;
    }
}

.el-header {
    position: fixed; z-index: 10;
    top: 0; left: 0; right: 0;
}

.el-main {
    position: relative;
}

.el-dialog {
    border-radius: 8px !important;
}

.el-pager li {
    font-weight: normal;
}


.base_path {
  width: 100%;

  .el-form-item__content {
      width: calc(100% - 190px);
  }
}

.full-width-150 {
  width: 100%;

  .el-form-item__content {
      width: calc(100% - 150px);
  }
}

.cursor-pointer {
    cursor: pointer;
}

.el-message-box,
.el-dialog {
    border-radius: 8px !important;
}

b {
    font-weight: bold;
}
