.hb_store_wrapper {

    .el-divider {
        margin: 3px 0px;
    }

    small {
        font-size: 80%;
    }

    .file {
        position: relative;
        display: block;
        margin-bottom: 20px;

        &.border {
            border: 1px solid gray;
        }

        .title {
            display: block;
            min-height: 60px;
        }

        .image {
            display: block;
            width: 100%;
            height: 0px;
            padding-bottom: 100%;
            background: center center no-repeat;
            background-size: cover;
        }
    }

}
