$titleBarHeight: 30px;
$mainOffset: 60px;
$titleBarColorLight: #fafafa;
$titleBarColorDark: #0c0c0c;

.alternative_title_bar {
    position: relative;
    display: block;
    height: $titleBarHeight;
    line-height: $titleBarHeight;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    background: $titleBarColorLight;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -20px;
    margin-right: -20px;

    .title {
        display: block;
        position: fixed; z-index: 1;
        width: 100vw;
        top: 0px; left: 0px; right: 0px;
    }

    .win, .linux {
        display: block;
        position: absolute; z-index: 2;
        top: 0px;
    }

    .linux {
        left: 10px;
        display: flex;
        align-items: center;
        height: 100%;

        > div {
            position: relative;
            z-index: 5;
            display: block;
            width: 12px; height: 12px;
            margin-right: 10px;
            border-radius: 50%;
            background: crimson;
            cursor: pointer;

            &:nth-child(2){
                background: darkorange;
            }

            &:nth-child(3){
                background: forestgreen;
            }
        }
    }

    .win {
        right: 20px;
    }
}


html:not(.light){
    .alternative_title_bar {
        background: $titleBarColorDark;
        color: #888;
    }
}

.draggable {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.main_content_offset {
    display: block;
    height: $mainOffset + $titleBarHeight;
}
